<form action="/parcel" method="post">
  <label for="height">Enter height of package</label>
  <input id="height" name="height" type="number" required>
  <label for="width">Enter width of package</label>
  <input id="width" name="width" type="number" required>
  <label for="length">Enter length of package</label>
  <input id="length" name="length" type="number" required>
  <label for="weight">Enter weight of package</label>
  <input id="weight" name="weight" type="number" required>
  <button type="submit">Submit</button>
</form>